<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClAIKnBlJ5M_leqAdpHIqJsogC6-E5188</string>
	<key>GCM_SENDER_ID</key>
	<string>626151082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iethemsag.TwitterSwiftUIClone</string>
	<key>PROJECT_ID</key>
	<string>twitterswiftuicloneapp</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterswiftuicloneapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626151082:ios:22f551bc9d2c8afdba8ad3</string>
</dict>
</plist>